<div class="row d-flex justify-content-center">
  <nb-card class="col-md-3 col-sm-5 col-10 m-3" *ngFor="let item of postFiltered?.data">
    <nb-card-body>
      <div class="row">
        <img class="img-thumbnail w-50 h-50" [src]="item.avatar" alt="">
        <div class="col">
          <div class="card-title">{{item.first_name| namePipe}}</div>
          <div class="card-title">{{item.last_name| lastNamePipe}}</div>
          <button nbButton (click)="openModal(item.id)" class="mt-5"> perfil</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
